{% extends "main_web_portal/blueprint.html" %}
{% load staticfiles %}

{% block body_block %}
<form id="msform" enctype="multipart/form-data" method="POST" action="{% url 'main_web_portal:register' %}">
  <fieldset>
    {% csrf_token %}
    <h2 class="fs-title">Authentication</h2>
    <h3 class="fs-subtitle">Level 1</h3>
    {% for field in profile_form %}
        <div class="fieldWrapper" align="center" id="picLabel">
          {% if field.name == 'verification_code_lvl_1' %}{{ field }}<br>{% endif %}
          {% if field.name == 'address' %}{{ field }}<br>{% endif %}
          {% if field.name == 'url' %}{{ field }}<br>{% endif %}
        </div>
    {% endfor %}
    <input type="button" name="next" class="next action-button" value="Next" />
    <br>
  </fieldset>
</form>
