<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Need to have JQuery and Javascript for DropDown Actions to work -->
    <script
    src="http://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{%static 'base_style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>


  <body background='{%static 'background-new.jpg'%}'>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" height="100">
        <a href="{% url 'index'%}" class="navbar-brand">ETHCERT.IO</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
									<li><a href="{% url 'main_web_portal:transaction'%}">Award Certificate<span class="sr-only">(current)</span></a></li>
                  <li class="nav navbar-right"><a href="{% url 'main_web_portal:user_logout'%}">Log out<span class="sr-only">(current)</span></a></li>
								{% else %}
                  <li><a href="{% url 'main_web_portal:user_login'%}">Sign in<span class="sr-only">(current)</span></a></li>
                  <li><a href="{% url 'main_web_portal:register'%}">Register<span class="sr-only">(current)</span></a></li>
								{% endif %}
                <li><a href="https://rinkeby.etherscan.io/address/0x9953a35ec7b3da1c54880b4a3c401746a0f5cce8" target="_blank">BlockChain<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'main_web_portal:team'%}">Our Team<span class="sr-only">(current)</span></a></li>
          </ul>

        <!-- SEARCH BAR -->
        <form class="navbar-form navbar-right search-bar" role="search" height="20px">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Certificate ID (eg. 0)">
          </div>
        <button type="submit" class="btn btn-default search-btn">Search</button>
        </form>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- OTHER STUFF ON THE PAGE -->
  <!-- It will be generated dynamically using template tagging-->

  <!-- Need to have JQuery and Javascript for DropDown Actions to work -->
  <div class="container">
    {% block body_block %}
    {% endblock %}
  </div>

</body>
</html>
