{% extends "main_web_portal/dashBoard_template.html" %}
{% load staticfiles %}

{% block dashboard_content %}
    <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
    <link rel="stylesheet" href="{%static 'cert_table.css'%}">
    <section id="content-area">
      <div class="cards" align="center">
      <div class="col-md-12">
        <div class="card-header">
          <div class="heading" align="center">
            <h1>Received Certificates</h1>
          </div>
        </div>

        <section>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th class="cert_header">ID</th>
                <th class="cert_header">Sender Address</th>
                <th class="cert_header">Receiver Address</th>
                <th class="cert_header">Create Time</th> 
              </tr>
            </thead>
          </table>
        </div>

        <div class="tbl-content">
          <table id="tableid" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for cert in received_certificates reversed %}
              <tr class="cert_row">
                <td class="cert_data" id="{{cert.certificate_id}}">{{cert.certificate_id}}</td>
                <td class="cert_data">{{cert.sender_address}}</td>
                <td class="cert_data">{{cert.receiver_address}}</td>
                <td class="cert_data">{{cert.create_time}}</td>
              </tr>
              {% endfor %}
            </tbody>

        </div>        
      </div>
      </div>
    </div>

    <script>
        var profile = document.getElementById("dashboard_profile").classList.remove("active");
        var sent = document.getElementById("dashboard_sent").classList.remove("active");
        var rec = document.getElementById("dashboard_received").classList.add("active");

  
        function addRowHandlers() {
          var table = document.getElementById("tableid");
          var rows = table.getElementsByTagName("tr");
          for (i = 0; i < rows.length; i++) {
              var currentRow = table.rows[i];
              var createClickHandler = 
                  function(row) 
                  {
                    return function() { 
                      var cell = row.getElementsByTagName("td")[0];
                      var id = cell.innerHTML;

                      // submit hidden form
                      method = "post";
                      var form = document.createElement("form");
                      form.setAttribute("method", method);
                      form.setAttribute("action", "{% url 'main_web_portal:view_cert' %}");
                      
                      // csrf token
                      var csrftoken = document.createElement("input");
                      csrftoken.setAttribute("type", "hidden");
                      csrftoken.setAttribute("name", "csrfmiddlewaretoken");
                      csrftoken.setAttribute("value", "{{ csrf_token }}");                      
                     
                      // cert id
                      var hiddenField = document.createElement("input");
                      hiddenField.setAttribute("type", "hidden");
                      hiddenField.setAttribute("name", "searchtext");
                      hiddenField.setAttribute("value", id);
                      
                      // submit
                      form.appendChild(csrftoken);
                      form.appendChild(hiddenField);
                      document.body.appendChild(form);
                      form.submit();                                              
                    };
                  };

              currentRow.onclick = createClickHandler(currentRow);
          }
      }
      window.onload = addRowHandlers();
        

        
        
    </script>

{% endblock dashboard_content %}
