{% extends "main_web_portal/dashBoard_template.html" %}
{% load staticfiles %}

{% block dashboard_content %}
    <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
    <section id="content-area">
      <div class="cards" align="center">
        <div class="col-md-12">
          <div class="card-header">
            <div class="heading" align="center">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="cards" align="center">
        <div class="col-md-4">
          <div class="card">
            <span class="card-title">Profile Summary</span>
            <hr>
            <img class="user-img" src= '{{profile_pic}}' alt="">
            <br><br>
            <span class="user-name">{{username}}</span>
            <span class="user-email">Email : {{email}}</span>
            <span class="user-email">Url : {{url}}</span>
            <span class="user-email">Address: {{address}}</span>
	          <span class="user-email">Saved Ethereum Account: {{ethAddress}}</span>
	          <span id="ethaddr" class="user-email">Current Ethereum Account: </span>

            <form enctype="multipart/form-data" method="POST" action="{% url 'main_web_portal:updateEthAddress' %}">
							{% csrf_token %}
              <fieldset>
								<input id="ethaddrinput" name="ethAddrInput" type="hidden"><br>
								<input type="submit" name="" value="Update Ethereum Address" class="btn btn-success">
							</fieldset>
						</form>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div style="height:44%;">
              <span class="card-title">Update Profile Pic</span>
              <hr>
              <form enctype="multipart/form-data" method="POST" action="{% url 'main_web_portal:updatePic' %}">
                  {% csrf_token %}
                  {% for field in picForm %}
                      <div class="fieldWrapper">
                          <div class="formInput">
                          {{ field }}
                          </div>
                      </div>
                      <br><br><br>
                  {% endfor %}
                  <input type="submit" name="" class="btn btn-success" value="Change Pic">
              </form>
            </div>

            <div style="height:56%;">
              <span class="card-title">Update Profile Details</span>
              <hr>
              <div style="margin:120px;">
                <a href="{% url 'main_web_portal:personalDetails' %}">
                  <button  type="button" name="" class="btn btn-success">Update</button>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div style="height:44%;">
              <span class="card-title">Email Authentication</span>
              <hr>
              {% if isAuth1 %}
                <div align="center">
                  <img src="https://cdn1.iconfinder.com/data/icons/toolbar-signs/512/OK-512.png" align="middle" height="72" width="72">
                </div>
                <br>
              {% else %}
                <div align="center">
                  <img src="https://icon-icons.com/icons2/1154/PNG/512/1486564399-close_81512.png" align="middle" height="72" width="72">
                </div>
                <br>
                <a href="{% url 'main_web_portal:verify1' %}">
                  <button type="button" name="" class="btn btn-success">Authenticate</button>
                </a>
                <br>
              {% endif %}
            </div>

            <div style="height:56%;">
              <span class="card-title">Physical Address Authentication</span>
              <hr>
              {% if isAuth2 %}
                <div align="center">
                  <img src="https://cdn1.iconfinder.com/data/icons/toolbar-signs/512/OK-512.png" align="middle" height="72" width="72">
                </div>
                <br>
              {% else %}
                <div align="center">
                  <img src="https://icon-icons.com/icons2/1154/PNG/512/1486564399-close_81512.png" align="middle" height="72" width="72">
                  <span class="user-email">Please email ethcertio@gmail.com for enquiries</span>
                </div>
                <br>
                <a href="{% url 'main_web_portal:verify2' %}">
                  <button  type="button" name="" class="btn btn-success">Authenticate</button>
                </a>
                <br>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

  </div>

	<script>
		window.addEventListener('load', function () {
      var profile = document.getElementById("dashboard_profile").classList.add("active");
      var sent = document.getElementById("dashboard_sent").classList.remove("active");
      var rec = document.getElementById("dashboard_received").classList.remove("active");

			if (typeof web3 !== 'undefined') {
      	// Use Mist/MetaMask's provider
        window.web3 = new Web3(web3.currentProvider);
        	if (web3.currentProvider.isMetaMask === true) {
          	if (typeof web3.eth.defaultAccount === 'undefined') {
            	$("#sender_details").html("No Ethereum Account Detected. Make sure you are signed into Metamask" );
            } else {
            	web3.eth.defaultAccount = web3.eth.accounts[0];
              document.getElementById("ethaddrinput").value = web3.eth.accounts[0].toString();
							document.getElementById("ethaddr").innerHTML = "Current Ethereum Account: " + web3.eth.accounts[0].toString();

           	}
          } else {
          	// fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
          	window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
          }
			 }
		});
	</script>

{% endblock dashboard_content %}
