{% extends 'main_web_portal/blueprint.html' %}
{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align="center">Welcome</h1>
    <img src="static/main_web_portal/ethcertLogo.png" alt="" align="right">
    <p class="lead">As financial institutions, educational institutions, corporate companies, businesses and governments continue their tedious work of tackling all forms of frauds, certificate frauds and forgery had become one of the prominent threats to organizational safety and development. With certificate verification process being usually compromised and unstandardized, organizational safety and development could potentially become an intricate and intimidating question.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'main_web_portal:user_login'%}" role="button">Sign in</a>
      <a class="btn btn-primary btn-lg" href="{% url 'main_web_portal:register'%}" role="button">Register</a>
    </p>
  </div>
</div>
</div>
{% endblock %}
