{% extends 'main_web_portal/blueprint.html' %}
{% load staticfiles %}
{% block body_block %}


<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">

<div class="bgimg" align="center">
  <br><br><br>
  <h1 id="lab"><span class="label label-default">Tired of Physical Certificates?</span></h1>
  <button  type="button" id = "bt" class="btn-lg btn-success center-block" >GET STARTED</button>
  <script type="text/javascript">
  document.getElementById("bt").addEventListener("click", moveDown);
  function moveDown(){
    $("html, body").animate({
      scrollTop: 400
      });
  }
  </script>

  <video width="800" controls>
    <source src="{% static 'intro.mp4' %}" type="video/mp4">
  </video>


  <div class="container">
      <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
      <h1 class="display-4" align="center"><br></h1>
      <form id = "msform" action="" method="get">
        <fieldset>
          <h2 class="fs-title">Sign up for our newsletter!</h2>
          <input class= "formInput"  type="text" name="" value="" required placeholder="First Name"><br>
          <input class= "formInput" type="text" name="" value="" required placeholder="Last Name"><br>
          <input class= "formInput" type="email" name="" value="" required placeholder="Email"><br>
          <br>
          <input type="submit" class="submit action-button" value="Sign up">
        </fieldset>
      </form>
  </div>
</div>



{% endblock %}
