{% extends 'main_web_portal/blueprint.html' %}
{% block body_block %}
  <div class="container">
    <div class="landing_page">
      <h1 class="display-4" align="center"><br></h1>
      <h1>Enter your Login Credentials</h1>
        <form class = "form" method="post" action="{% url 'main_web_portal:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label><br>
          <input class= "formInput" type="text" name="username" placeholder="Username"><br>
          <br>
          <label for="password">Password:</label><br>
          <input class= "formInput" type="password" name="password" placeholder="Password"><br>
          <br>
          <input type="submit" name="" value="Login" class="sign_in_btn">

        </form>
    </div>
  </div>
{% endblock %}
