{% extends 'main_web_portal/blueprint.html' %}
{% load staticfiles %}

{% block body_block %}
  <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
  <div class="container">
    <h1 class="display-4" align="center"><br></h1>
      <form id="msform" method="post" action="{% url 'main_web_portal:user_login' %}">
        {% csrf_token %}
        <fieldset>
          <h2 class="fs-title">Enter your Login Credentials</h2>
          <input class= "formInput" type="text" name="username" placeholder="Username"><br>
          <br>
          <input class= "formInput" type="password" name="password" placeholder="Password"><br>
          <br>
          <input type="submit" name="" value="Login" class="submit action-button">
        </fieldset>
      </form>

      {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
      {% endfor %}
  </div>
{% endblock %}
