{% extends 'main_web_portal/blueprint.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <h1 class="display-4" align="center"><br></h1>

    <div align="left">
      <img src='{%static 'joshia.jpg'%}' alt="" align="left" height="150" hspace="20" width="120">
      <h2 align="left">Joshia Seam</h2>
      <h3 align="left">Singapore University of Technology and Design (SUTD)</h3>
      <p align="left">Joshia is an Information System Technology and Design student with keen interest in emerging technologies and computer science. Experienced with smart contracts on Ethereum, he contributes to blockchain projects pioneered in the university.</p>
      <a href="https://itrust.sutd.edu.sg/people/students/" target="_blank" >SUTD iTrust</a>
      <p style="display:inline"> | </p>
      <a href="https://www.linkedin.com/in/joshia-seam-243341ab/" target="_blank">LinkedIn</a>
      <p style="display:inline"> | </pre> </p>
      <a href="http://jseam.com/" target="_blank">Blog</a>
      <p style="display:inline"> | </pre> </p>
      <a href="https://github.com/JSeam2" target="_blank">GitHub</a>
    </div>

    <br>

    <div align="left">
      <img src='{%static 'keshik.jpg'%}' alt="" align="left" height="150" hspace="20" width="120">
      <h2 align="left">Keshigeyan Chandrasegaran</h2>
      <h3 align="left">Singapore University of Technology and Design (SUTD)</h3>
      <p align="left">Keshigeyan is a Junior Information System Technology and Design student with keen interest in computer networks and emerging technologies. Experienced with IoT and distributed systems, he contributes to major distributed system projects pioneered at SUTD.</p>
      <a href="https://sutdapac-my.sharepoint.com/:w:/g/personal/keshigeyan_chandrasegaran_mymail_sutd_edu_sg/EQMnQkp_sctJpHAMg4ei9tcBwXXl-88jCA-miLSDZzksEw?e=oPET9k" target="_blank" >Portfolio</a>
      <p style="display:inline"> | </p>
      <a href="https://github.com/keshik6" target="_blank">GitHub</a>
    </div>

    <br>

    <div align="left">
      <img src='{%static 'jxuan.jpg'%}' alt="" align="left" height="150" hspace="20" width="120">
      <h2 align="left">Ong Jing Xuan</h2>
      <h3 align="left">Singapore University of Technology and Design (SUTD)</h3>
      <p align="left">Ong Jing Xuan is a Junior Information System Technology and Design student with passion in Full stack development.</p>
      <a href="https://www.linkedin.com/in/jing-xuan-ong-02746613a/" target="_blank">LinkedIn</a>
      <p style="display:inline"> | </p>
      <a href="https://github.com/xuanpai" target="_blank" >GitHub</a>
    </div>
    <br>
</div>


{% endblock %}
