{% extends "main_web_portal/blueprint.html" %}
{% load staticfiles %}

{% block body_block %}

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
  <div class="container">
      <h1 class="display-4" align="center"><br></h1>
      {% if registered %}
      <div class="jumbotron">
        <div align="center">
          <img src="https://cdn1.iconfinder.com/data/icons/toolbar-signs/512/OK-512.png" align="middle" height="72" width="62">
        </div>
        <h1 class="display-4" align="center">Registration Success {{username}}!</h1>
        <p class="lead" align="center">Verification code sent to {{email}}</p>
        <hr class="my-4" size="30" align="center">
        <p class="lead" align="center">Login to Ethcert Dashboard to continue</p>
        <p class="lead" align="center">
          <a class="btn btn-success btn-lg" href="{% url 'main_web_portal:user_login' %}" role="button">Login</a>
        </p>
      </div>

      {% else %}
        <form id="msform" enctype="multipart/form-data" method="POST" action="{% url 'main_web_portal:register' %}">
          <fieldset>
              {% csrf_token %}
              <h2 class="fs-title">Create your account</h2>
              {% for field in user_form %}
                  <div class="fieldWrapper">
                      <div class="formInput">
                      {{ field }}
                      </div>
                  </div>
                  <br>
              {% endfor %}

            <input type="password" name="passwordConfirm" placeholder="Confirm Password" required/>
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
            <br>
          </fieldset>
        </form>
      {% endif %}

      {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
      {% endfor %}
      
  </div>

{% endblock %}
