{% extends "main_web_portal/blueprint.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="landing_page">
      <h1 class="display-4" align="center"><br></h1>
        {% if registered %}
          <h1>Thank you for registering!</h1>
        {% else %}
          <h1>Register Here</h1>
          <h3>Fill the form</h3>

        <form class= "form" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% for field in user_form %}
              <div class="fieldWrapper">
                <div class="formInput">
                  {{ field.errors }}
                  {{ field.label_tag }} <br> {{ field }}
                </div>
              </div>
              <br>
          {% endfor %}
          {% for field in profile_form %}
              <div class="fieldWrapper" align="center">
                <div class="formInput">
                  {{ field.errors }}
                  {{ field.label_tag }} <br>{{ field }}
                </div>
              </div>
              <br>
          {% endfor %}

        <input type="submit" name="" value="Register" class="sign_in_btn">
        </form>

      {% endif %}
    </div>
  </div>

{% endblock %}
