{% extends "main_web_portal/blueprint.html" %}
{% load staticfiles %}

{% block body_block %}
    <link rel="stylesheet" href="{%static 'multi_step_register.css'%}">
		<link rel="stylesheet" href="{%static 'modal.css'%}">
    <script src="{% static 'web3.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <div class="container">
          <h1 class="display-4" align="center"><br></h1>
				  <h1 align="center"><span class="label label-default">Send Certificate</span></h1>
          <h2 id="sender_details" align="center">Detecting Ethereum Account using Metamask</h2>

        <form id="msform" id ="award_page" accept-charset="utf-8">
          <fieldset>
            Sender Proof:
						<br>
						<input type="text" id ="sender_proof" name="senderproof" required class= "formInput"><br>
            <br>
            Receiver Address:
						<br>
						<input type="text" id ="receiver_addr" name="receiver_addr" required class= "formInput"><br>
            <br>
            Receiver Proof:
						<br>
						<input type="text" id ="receiver_proof" name="receiver_proof" required class= "formInput"><br>
            <br>
            Description:
						<br>
						<textarea name="descrip" id = "description" style="width:250px;height:150px;" placeholder="Enter certificate details" required class= "formInput"></textarea>
						<br>
						<button id="encryptBtn" class="encrypt-button" onclick="return openModal()">Encrypt</button>
            <button id ="submitBtn" value="Submit" class="next action-button">Issue</button>
          </fieldset>
        </form>
				<div>
        <br>
		</div>

		<!-- modal view for encrypt function -->
		<div id="modal-window" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onclick="closeModal()">&times;</span>
					<h3>Confirm Encrypt</h3>
				</div>

				<div class="modal-body">
					<p>Confirm that you want to encrypt information.</p>
					<p>Sender Proof, Receiver Proof, and Description will be encrypted once confirmed.</p>
					<button id="confirmEncryptBtn" class="confirm-encrypt-button" onclick="return encryptModal()">Confirm</button>
				</div>
			</div>
		</div>

		<div id="modal-window-post" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onclick="closeModal()">&times;</span>
					<h3>Encrypted!</h3>
				</div>

				<div class="modal-body">
					<p>Sender Proof, Receiver Proof, and Description is now encrypted.</p>
					<p>Please save the key below securely</p>
					<p id="key">null</p>
					<button id="confirmEncryptBtn" class="confirm-encrypt-button" onclick="closeModal()">Finish</button>
				</div>
			</div>
		</div>

		<!-- script for eth -->
    <script>
         accountDetected = false;
         //Event listener for detecting Ethereum account using metamask chrome extension
         window.addEventListener('load', function () {
         // Checking if Web3 has been injected by the browser (Mist/MetaMask)
         if (typeof web3 !== 'undefined') {
         // Use Mist/MetaMask's provider
           window.web3 = new Web3(web3.currentProvider);
           if (web3.currentProvider.isMetaMask === true) {
               if (typeof web3.eth.defaultAccount === 'undefined') {
                  $("#sender_details").html("No Ethereum Account Detected. Make sure you are signed into Metamask" );
               }
               else {
                   web3.eth.defaultAccount = web3.eth.accounts[0];
                   web3.eth.getAccounts(console.log);
                   $("#sender_details").html("Your Ethereum Account ID is " + web3.eth.defaultAccount);
                   accountDetected = true;
               }
           } else {
               // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
               window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
           }
				 }
			 });


         $("#submitBtn").click(function(){
              if (accountDetected === true){
                 var senderProof = $('#sender_proof').val();
                 var recAddress = $('#receiver_addr').val();
                 var recProof = $('#receiver_proof').val();
                 var description = $('#description').val();
                 var certificateFactoryContract = web3.eth.contract([{
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificates",
                          "outputs": [
                            {
                              "name": "sender",
                              "type": "address"
                            },
                            {
                              "name": "senderProof",
                              "type": "string"
                            },
                            {
                              "name": "receiver",
                              "type": "address"
                            },
                            {
                              "name": "receiverProof",
                              "type": "string"
                            },
                            {
                              "name": "description",
                              "type": "string"
                            },
                            {
                              "name": "creationtime",
                              "type": "uint256"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToSenderProof",
                          "outputs": [
                            {
                              "name": "",
                              "type": "string"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToSender",
                          "outputs": [
                            {
                              "name": "",
                              "type": "address"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToReceiverProof",
                          "outputs": [
                            {
                              "name": "",
                              "type": "string"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToReceiver",
                          "outputs": [
                            {
                              "name": "",
                              "type": "address"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToDescription",
                          "outputs": [
                            {
                              "name": "",
                              "type": "string"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "constant": true,
                          "inputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "name": "certificateToCreateTime",
                          "outputs": [
                            {
                              "name": "",
                              "type": "uint256"
                            }
                          ],
                          "payable": false,
                          "stateMutability": "view",
                          "type": "function"
                        },
                        {
                          "anonymous": false,
                          "inputs": [
                            {
                              "indexed": false,
                              "name": "certificateId",
                              "type": "uint256"
                            },
                            {
                              "indexed": false,
                              "name": "sender",
                              "type": "address"
                            },
                            {
                              "indexed": false,
                              "name": "senderProof",
                              "type": "string"
                            },
                            {
                              "indexed": false,
                              "name": "receiver",
                              "type": "address"
                            },
                            {
                              "indexed": false,
                              "name": "receiverProof",
                              "type": "string"
                            },
                            {
                              "indexed": false,
                              "name": "description",
                              "type": "string"
                            },
                            {
                              "indexed": false,
                              "name": "creationTime",
                              "type": "uint256"
                            }
                          ],
                          "name": "NewCertificate",
                          "type": "event"
                        },
                        {
                          "constant": false,
                          "inputs": [
                            {
                              "name": "_senderProof",
                              "type": "string"
                            },
                            {
                              "name": "_receiver",
                              "type": "address"
                            },
                            {
                              "name": "_receiverProof",
                              "type": "string"
                            },
                            {
                              "name": "_description",
                              "type": "string"
                            }
                          ],
                          "name": "createCertificate",
                          "outputs": [],
                          "payable": false,
                          "stateMutability": "nonpayable",
                          "type": "function"
                        }
                       ]);
                 var certificateFactory = certificateFactoryContract.at("0x9953a35ec7b3da1c54880b4a3c401746a0f5cce8");
                 certificateFactory.createCertificate(senderProof,recAddress,recProof,description,(err,res) => {
                    if (err){
                      alert("Error");
                    }
                    else{
                      document.getElementById("award_page").reset();
                      alert("Transaction pending. Wait for the blocks to be mined");
                    }
                 });
              }
         });

    </script>

		<!-- script for encryption to check if crypto js is still ok to use -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
		<script>
			function openModal() {
				var senderProof_e = $('#sender_proof').val();
				var recProof_e = $('#receiver_proof').val();
				var description_e = $('#description').val();

				if(senderProof_e == null || senderProof_e == "", recProof_e == null || recProof_e == "", description_e == null || description_e == ""){
					alert("Please fill all required fields");
				} else {
					document.getElementById("modal-window").style.display = "block";
				}
				return false;
			}

			function encryptModal() {
				document.getElementById("modal-window").style.display = "none";
				document.getElementById("modal-window-post").style.display = "block";

				var senderProof_e = $('#sender_proof').val();
				var recProof_e = $('#receiver_proof').val();
				var description_e = $('#description').val();

				// generate random string
				let length = 40;
        let charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
				var randomStr = "";

				for(var i = 0, n = charset.length; i < length; ++i){
					randomStr += charset.charAt(Math.floor(Math.random() * n));
				}

				document.getElementById("key").innerHTML = randomStr;

				// encrypt
				var senderProofEncrypted = CryptoJS.AES.encrypt(senderProof_e, randomStr).toString();
				var recProofEncrypted = CryptoJS.AES.encrypt(recProof_e, randomStr).toString();
				var descEncrypted = CryptoJS.AES.encrypt(description_e, randomStr).toString();

				$('#sender_proof').val(senderProofEncrypted);
				$('#receiver_proof').val(recProofEncrypted);
				$('#description').val(descEncrypted);

				return false;
			}

			function closeModal() {
				document.getElementById("modal-window").style.display = "none";
				document.getElementById("modal-window-post").style.display = "none";
			}
		</script>


{% endblock %}
