/*These are the css formatting for the navigation bar*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat');
@import url('/static/abstract-art.jpg');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

.navbar-nav a{
  color: #4E4E4E !important;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav a:hover{
  color: #FF3B3F !important;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


.container-fluid{
  background-color:#EFEFEF;
}

.navbar-brand{
  color: #4E4E4E !important;
  font-size: 26px !important;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif !important;
}

.search-bar{
  color:#4E4E4E !important;
  font-family: 'Montserrat', sans-serif !important;
}

.search-btn{
  color: #4E4E4E !important;
  font-family: 'Montserrat', sans-serif !important;
}

.search-btn:hover{
  color: #FF3B3F !important;
}


/*End of css formatting for navigation bar*/


/* The following are for the landing page*/
.landing_page{
  margin: auto;
  text-align: center;
  color: #F9F9F9;
  background-color:#858585;
  font-family: 'Merriweather Sans', sans-serif;
  border-top: 2px;
  font-size: 15px;
  border-radius:10px;
  z-index: -1;
}

html {
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2fcbe2+0,77c9d4+100 */
  background: #2fcbe2; /* Old browsers */
  background: -moz-linear-gradient(top, #2fcbe2 0%, #77c9d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2fcbe2 0%,#77c9d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bca0a0 0%,#77c9d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fcbe2', endColorstr='#77c9d4',GradientType=0 ); /* IE6-9 */
}

#logo{
  border-radius: 20px;
}

#summary{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

#form{
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.formInput{
  color: black !important;
}

.sign_in_btn{
  font-size: 20px;
  background-color:#FF9F1C;
  /*border-radius: 25px;
  margin: 10px;*/
}

a:link {
  color: #FF7F44;
}

a:hover {
  color: #FF3B3F !important;
}

.bgimg {
    background: url('/static/blur-blurry.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:800px;width:100%;
    opacity: 0.97;
    align-items: center;
    display: block;
}

.bgimg:hover{
  opacity: 1.0;
}

#bt{
  transform: translateY(100%);
  background-color: #397f3b;
}

#lab{
  margin-top: 214px;
  text-align: center;
  color: white;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 50px;
}
